DEBUG=True
BITRECS_PLATFORM_URL="API URL"
NETUID=296
MODE="validator"
SCREENER_NAME="validator-1-10"
SCREENER_PASSWORD=supersecret
SEND_HEARTBEAT_INTERVAL_SECONDS=10
SET_WEIGHTS_INTERVAL_SECONDS=180300
ET_WEIGHTS_TIMEOUT_SECONDS=90

VALIDATOR_WALLET_NAME=default
VALIDATOR_HOTKEY_NAME=YOUR FAKE HOTKEY

CHECK_RUNNING_AGENTS_INTERVAL_SECONDS=60
CHECK_PENDING_EVALUATIONS_INTERVAL_SECONDS=30
CHECK_AGENT_UPLOAD_RATE_LIMIT_INTERVAL_SECONDS=600

REQUEST_EVALUATION_INTERVAL_SECONDS=45
SIMULATE_EVALUATION_RUNS=True
SIMULATE_EVALUATION_RUN_MAX_TIME_PER_STAGE_SECONDS=3

UPDATE_AUTOMATICALLY=True
OLLAMA_LOCAL_URL=http://10.0.0.40:11434/api/chat
OPENROUTER_API_KEY=
CHUTES_API_KEY=