ENV=dev

HOST=127.0.0.1
PORT=8000


NETUID=296
SUBTENSOR_ADDRESS=wss://test.finney.opentensor.ai:443
SUBTENSOR_NETWORK=test

OWNER_HOTKEY=
#UPLOAD_SEND_ADDRESS=
BURN=False
DISALLOW_UPLOADS=False
DISALLOW_UPLOADS_REASON=



AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
S3_BUCKET_NAME=

DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_HOST=
DATABASE_PORT=5432
DATABASE_NAME=

SCREENER_PASSWORD="supersecret"
SCREENER_1_THRESHOLD=0.3
SCREENER_2_THRESHOLD=0.4
PRUNE_THRESHOLD=0.9 # Must get at least 90% of the top agent's score after finishing screener-2

VALIDATOR_HEARTBEAT_TIMEOUT_SECONDS=120 # 2 minutes
VALIDATOR_HEARTBEAT_TIMEOUT_INTERVAL_SECONDS=120 # 2 minutes

VALIDATOR_RUNNING_AGENT_TIMEOUT_SECONDS=2400 # 40 minutes
VALIDATOR_RUNNING_EVAL_TIMEOUT_SECONDS=600 # 10 minutes
VALIDATOR_MAX_EVALUATION_RUN_LOG_SIZE_BYTES=500000 # 500 KB

MINER_AGENT_UPLOAD_RATE_LIMIT_SECONDS=86400 # 24 hours
NUM_EVALS_PER_AGENT=3